@model WebShopMVC.Models.viewmodeluser

<h2>Admin</h2>
@using (Html.BeginForm("AddProduct", "Home"))
{
    <div class="well col-md-12">
        <div class="row">
            <p>Lägg till produktnamn</p>
            <input name="Productname" />
            <p>Lägg till pris</p>
            <input name="Price" />
            <p>Lägg till årtal när produkten släppts</p>
            <input name="Yearofrelease" />
            <p>Lägg till länk till bild</p>
            <input name="Pic_loc" />
            <p>konsole</p>
            <select name="konsole">
                @for (int i = 0; i < Model.Consoles.Count(); i++)
                {
                    <option value="@Model.Consoles[i].Id">@Model.Consoles[i].ConsoleName</option>
                }
            </select>
            <p>Genre</p>
            <select name="Genre">
                @for (int i = 0; i < Model.Genres.Count(); i++)
                {
                    <option value="@Model.Genres[i].Id">@Model.Genres[i].GenreName</option>
                }
            </select>
            <input type="submit" value="save" />
        </div>
    </div>
}
@foreach (var item in Model.Products)
{
    using (Html.BeginForm("DeleteProduct", "Home"))
    {
        <div>@item.ProductName</div>
        <input name="id" readonly="readonly" value="@item.Id" />
        for (int i = 0; i < item.Konsols.Count(); i++)
        {

            <div>@item.Konsols[i].ConsoleName</div>

        }
        for (int i = 0; i < item.Genres.Count(); i++)
        {   
            <div>@item.Genres[i].GenreName</div>
  
        }

        <input type="submit" value="Delete" />

    }
}