@model List<WebShopMVC.WebShopWCF.ModelProductDTO>
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
<div class="container">
    @{
        foreach (var item in Model)
        {


            <div class="col-md-3">
                <div>@item.ProductName</div>
                <div><img src="@item.PicLocation" alt="@item.ProductName" /></div>
                <div>@item.YearOfRelease</div>
                <div>@item.Price</div>
            </div>

        }

    }


</div>
