@model WebShopMVC.Models.viewmodeluser
<div class="container">
    <div class="well-lg"></div>
    <div class="well col-md-12" style="background-color: rgb(255, 255, 255)">
        <div class="row">
            @{
                if (Model.Buyproducts != null && Model.Products != null)
                {
                    double totalprice = 0;
                    var products = (from e in Model.Products join m in Model.Buyproducts on e.Id equals m.ProductId select e);

                    foreach (var item in Model.Buyproducts)
                    {
                        var product = (from e in Model.Products where e.Id == item.ProductId select e).Single();
                        <div class="well col-md-8">Namn: @product.ProductName<span class="pull-right">Pris: @product.Price</span><span class="pull-right col-lg-2">Antal: @item.Antal</span> </div>

                        using (Html.BeginForm("DeleteItemFromCart", "Home"))
                        {
                            <input type="text" hidden="hidden" name="key" value="@item.KeyToken" />
                            <div class="col-md-4"><input class="btn btn-danger" type="submit" value="Tabort" /></div>
                        }

                    }
                    foreach (var item2 in products)
                    {
                        totalprice += item2.Price;
                    }
                    <br />
                    <div class="well col-md-8"><span>Total pris: @totalprice</span></div>
                }

            }

            <div class="well col-md-8">KÖP KNAPP</div>

        </div>
    </div>
</div>