@model WebShopMVC.Models.viewmodeluser
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Login Failed. Check your login details")
    <fieldset>
        <div>@Html.LabelFor(u => u.Person.UserName)</div>
        @Html.TextBoxFor(u => u.Person.UserName)
        @Html.ValidationMessageFor(u => u.Person.UserName)

        <div>@Html.LabelFor(u => u.Person.PassWord)</div>
        @Html.PasswordFor(u => u.Person.PassWord)
        @Html.ValidationMessageFor(u => u.Person.PassWord)

        <div>
            <input type="submit" value="Login" />
        </div>


    </fieldset>

}