@model WebShopMVC.Models.viewmodeluser





<div class="container">
    <div class="well-lg"></div>
    <div class="well col-md-12" style="background-color: rgb(255, 255, 255)">
        <div class="row">
            @foreach (var item in Model.Products)
            {
                using (Html.BeginForm("BuyProduct", "Home", FormMethod.Post))
                {
                    <div class="well col-md-3">
                        <span><img src="@item.PicLocation"></span>@item.ProductName<span>@item.YearOfRelease</span><span>@item.Price</span>
                        <input type="text" name="productid" hidden="hidden" value="@item.Id" />
                        @for (int g = 0; g < item.Genres.Count(); g++)
                        {

                            <div>@item.Genres[g].GenreName</div>
                            <input name="genreid" hidden="hidden" value="@item.Genres[g].Id" />
                        }
                        @for (int c = 0; c < item.Konsols.Count(); c++)
                        {


                            <div>@item.Konsols[c].ConsoleName</div>
                            <input name="consoleid" type="text" hidden="hidden" value="@item.Konsols[c].Id" />



                        }
                        <span>Antal: </span>
                        <select name="st">
                            @for (int i = 1; i < 101; i++)
                            {
                                <option value="@i">@i</option>


                            }
                        </select>
                        <br />
                        <span><button class="btn btn-primary" type="submit" id="submit">Lägg i varukorg</button></span>
                    </div>
                }
            }


        </div>
    </div>
</div>
